<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
	<div class="box-name">
	  <i class="fa fa-user"></i>
	  <span>User Profile</span>
	</div>
	<div class="no-move"></div>
      </div>
      <div class="box-content">
	<div class="card">
          <div class="row">
            <div class="col-sm-3 col-lg-2 pull-right">
              {{sails-path 'img' '/upload/profile-pics/' profile_pic class='media-object img-responsive img-thumbnail'}}
            </div>
            <div class="col-sm-9 col-lg-10">
              <h4>{{name}}</h4>
	      <label class="col-sm-4 control-label">Username</label>
	      <p class="col-sm-8">{{auth.username}}</p>
	      <label class="col-sm-4 control-label">Email</label>
	      <p class="col-sm-8">{{email}}</p>
	      {{#if admin}}
	        <label class="col-sm-4 control-label">Admin</label>
	        <p class="col-sm-8">{{admin}}</p>
	        <label class="col-sm-4 control-label">Manager</label>
	        <p class="col-sm-8">{{manager}}</p>
	        <label class="col-sm-4 control-label">Sales</label>
	        <p class="col-sm-8">{{sales}}</p>
	        <label class="col-sm-4 control-label">Purchasing</label>
	        <p class="col-sm-8">{{purchasing}}</p>
	        <label class="col-sm-4 control-label">Quality Check</label>
	        <p class="col-sm-8">{{quality_check}}</p>
	        <label class="col-sm-4 control-label">Packing</label>
	        <p class="col-sm-8">{{packing}}</p>
	        <label class="col-sm-4 control-label">Documentation</label>
	        <p class="col-sm-8">{{documentation}}</p>
	        <label class="col-sm-4 control-label">Accounts Payable</label>
	        <p class="col-sm-8">{{accounts_payable}}</p>
	        <label class="col-sm-4 control-label">Accounts Receivable</label>
	        <p class="col-sm-8">{{accounts_receivable}}</p>
	      {{/if}}
	      <p class="text-center">
	        <a class="btn btn-primary" href="/users/edit/{{unbound id}}">Edit</a>
	      </p>
            </div>
          </div>
	</div>
      </div>
    </div>
  </div>
</div>
