<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
	<div class="box-name">
	  <i class="fa fa-user"></i>
	  <span>User Profile - {{name}}</span>
	</div>
	<div class="no-move"></div>
      </div>
      <div class="box-content">
	<div class="card">
          <div class="row">
            <div class="col-sm-3 col-lg-2 pull-right">
              {{sails-path 'img' '/upload/profile-pics/' profile_pic class='media-object img-responsive img-thumbnail'}}
              {{file-upload name="avatar" uploadPath="profile-pics/" saveAs=auth.username extension="jpg"}}
            </div>
            <div class="col-sm-9 col-lg-10">
              {{#dc-form form=this id='userProfileForm' labelClass='col-sm-4' inputClass='col-sm-8'}}
              {{dc-input id='auth.username' label='Username' locked=true}}
	      {{dc-input id='name'}}
	      {{dc-input id='email'}}
	      {{#if session.user.admin}}
                {{dc-checkbox id='admin'}}
                {{dc-checkbox id='manager'}}
                {{dc-checkbox id='sales'}}
                {{dc-checkbox id='purchasing'}}
                {{dc-checkbox id='quality_check' label='Quality Check'}}
                {{dc-checkbox id='packing'}}
                {{dc-checkbox id='documentation'}}
                {{dc-checkbox id='accounts_payable' label='Accounts Payable'}}
                {{dc-checkbox id='accounts_receivable' label='Accounts Receivable'}}
	      {{/if}}
              {{/dc-form}}
            </div>
          </div>
	</div>
      </div>
    </div>
  </div>
</div>
