<div class="row">
  <div class="col-xs-9">
    <div class="input-group">
      <span class="input-group-btn">
        {{#link-to (query-params search=searchfield page=1) class="btn btn-default" id="searchBtn"}}Search products{{/link-to}}
      </span>
      {{input value=searchfield class="form-control" action="search" escape-press="cancel"}}
    </div>
  </div>
  <div class="col-xs-3 text-right">
    {{#link-to 'main.db.fishfamilies' class="btn btn-default"}}Administer Fish Families{{/link-to}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ember-table hasFooter=false columns=columns content=model height=750 numFixedColumns=1 selectionMode='multiple' env=this}}
    <div class="pagination" class="text-center">
      <div class="btn-group">
        {{#if isFirstPage}}
          <button type="button" class="btn btn-default" disabled><i class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i></button>
          <button type="button" class="btn btn-default" disabled><i class="fa fa-chevron-left"></i></button>
        {{else}}
          {{#link-to (query-params page=1) class="btn btn-default"}}<i class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i>{{/link-to}}
          {{#link-to (query-params page=prevPage) class="btn btn-default"}}<i class="fa fa-chevron-left"></i>{{/link-to}}
        {{/if}}
        {{#if isLoading}}
          <button type="button" class="btn btn-default" disabled><i class="fa fa-circle-o-notch fa-spin"></i></button>
        {{else}}
          <button type="button" class="btn btn-default" disabled>{{page}}</button>
        {{/if}}
        {{#if isLastPage}}
          <button type="button" class="btn btn-default" disabled><i class="fa fa-chevron-right"></i></button>
        {{else}}
          {{#link-to (query-params page=nextPage) class="btn btn-default"}}<i class="fa fa-chevron-right"></i>{{/link-to}}
        {{/if}}
        <button type="button" class="btn btn-default" {{action "newRecord"}}><i class="fa fa-plus"></i></button>
      </div>
    </div>
  </div>
</div>

{{#em-modal configName="bs" open-if=openEditModal on-hide='editModalWasClosed' ignore-esc=true}}
{{#em-modal-title}}
  {{#em-modal-toggler class="close"}}<span aria-hidden="true">×</span><span class="sr-only">Close</span>{{/em-modal-toggler}}
  <h4 class="modal-title">Edit Product: {{editedRecord.id}} - {{editedRecord.commonName}}</h4>
{{/em-modal-title}}
{{#em-modal-body}}
  {{#dc-form form=this id='fishProductEditForm' valuesStoredIn=editedRecord}}
  {{dc-input id='id' label='Code' locked=true}}
  {{dc-input id='family.name' label='Family' locked=true}}
  {{dc-input id='name'}}
  {{dc-input id='scientificName'}}
  {{dc-input id='chineseName'}}
  {{/dc-form}}
{{/em-modal-body}}
{{/em-modal}}

{{#em-modal configName="bs" open-if=openNewModal on-hide='newModalWasClosed' ignore-esc=true}}
{{#em-modal-title}}
  {{#em-modal-toggler class="close"}}<span aria-hidden="true">×</span><span class="sr-only">Close</span>{{/em-modal-toggler}}
  <h4 class="modal-title">New Product</h4>
{{/em-modal-title}}
{{#em-modal-body}}
  {{#my-form form=this id='fishProductNewForm' valuesStoredIn=newRecord submitAction='createRecord'}}
  {{my-select id='family' content=families}}
  {{my-input id='name'}}
  {{my-input id='scientificName'}}
  {{my-input id='chineseName'}}
  {{/my-form}}
{{/em-modal-body}}
{{/em-modal}}

{{em-modal-confirm configName="bs" open-if=openConfirmModal close-if=closeConfirmModal confirm="confirmDeleteRecord" message="Are you sure you want to delete this product? This operation cannot be cancelled."}}