<div class="row">
  <div class="col-xs-9">
    <form>
      <div class="input-group">
	<span class="input-group-btn">
	  <button class="btn btn-default" type="submit" id="SearchButton">Search products!</button>
	</span>
	<input type="text" class="form-control" name="search">
      </div>
    </form>
  </div>
  <div class="col-xs-3 text-right">
    {{#link-to 'main.db.fishfamilies' class="btn btn-default"}}Administer Fish Families{{/link-to}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ember-table hasFooter=false columns=columns content=model height=750 numFixedColumns=1 selectionMode='multiple'}}
    <div class="pagination" class="text-center">
      <div class="btn-group">
        {{#if isFirstPage}}
          <button type="button" class="btn btn-default" disabled><i class="fa fa-chevron-left"></i></button>
        {{else}}
          {{#link-to (query-params page=prevPage) class="btn btn-default"}}<i class="fa fa-chevron-left"></i>{{/link-to}}
        {{/if}}
        {{#if isLoading}}
          <button type="button" class="btn btn-default" disabled><i class="fa fa-circle-o-notch fa-spin"></i></button>
        {{else}}
          <button type="button" class="btn btn-default" disabled>{{page}}</button>
        {{/if}}
        {{#if isLastPage}}
          <button type="button" class="btn btn-default" disabled><i class="fa fa-chevron-right"></i></button>
        {{else}}
          {{#link-to (query-params page=nextPage) class="btn btn-default"}}<i class="fa fa-chevron-right"></i>{{/link-to}}
        {{/if}}
      </div>
    </div>
  </div>
</div>