{{#if autolabel}}
  <div class="row form-group" {{bind-attr style=style}}>
    <label {{bind-attr class=":control-label labelClass"}}>{{label}}</label>
    <div {{bind-attr class="inputClass"}}>
      {{#if isEdited}}
        {{#if ph}}
          {{input type="checkbox" class="dc-checkbox hastip" name=id checked=val title=ph escape-press="cancel"}}
          <span class="dc-checkbox-value">{{val}}</span>
          <button class="btn btn-default btn-xs dc-checkbox-cancel-btn" {{action 'cancel'}}>Cancel</button>
        {{else}}
          {{input type="checkbox" class="dc-checkbox" name=id checked=val}}
          <span class="dc-checkbox-value">{{val}}</span>
          <button class="btn btn-default btn-xs dc-checkbox-cancel-btn" {{action 'cancel'}}>Cancel</button>
        {{/if}}
      {{else}}
        {{#if ph}}
          <p {{bind-attr class=':dc-form-input :hastip locked::click-me'}} {{bind-attr name=id}} {{bind-attr title=ph}} {{action 'edit' on='doubleClick'}}>{{val}}</p>
        {{else}}
          <p {{bind-attr class=':dc-form-input locked::click-me'}} {{bind-attr name=id}} {{action 'edit' on='doubleClick'}}>{{val}}</p>
        {{/if}}
      {{/if}}
      {{#if error}}
        <div class="alert alert-info">{{error}}</div>
      {{/if}}
    </div>
  </div>
{{else}}
  {{#if isEdited}}
    {{#if ph}}
      {{input type="checkbox" class="dc-checkbox hastip" name=id checked=val title=ph escape-press="cancel"}}
      <span class="dc-checkbox-value">{{val}}</span>
      <button class="btn btn-default btn-xs dc-checkbox-cancel-btn" {{action 'cancel'}}>Cancel</button>
    {{else}}
      {{input type="checkbox" class="dc-checkbox" name=id checked=val escape-press="cancel"}}
      <span class="dc-checkbox-value">{{val}}</span>
      <button class="btn btn-default btn-xs dc-checkbox-cancel-btn" {{action 'cancel'}}>Cancel</button>
    {{/if}}
  {{else}}
    {{#if ph}}
      <p {{bind-attr class=':dc-form-input locked::click-me'}} {{bind-attr name=id}} {{bind-attr title=ph}} {{action 'edit' on='doubleClick'}}>{{val}}</p>
    {{else}}
      <p {{bind-attr class=':dc-form-input locked::click-me'}} {{bind-attr name=id}} {{action 'edit' on='doubleClick'}}>{{val}}</p>
    {{/if}}
  {{/if}}    
  {{#if error}}
    <div class="alert alert-info">{{error}}</div>
  {{/if}}
{{/if}}
