<form id=id class="form-horizontal" {{action 'submit' on='submit'}}>
  {{yield}}
  <div class="form-group">
    <div class="text-center">
      {{#if isEdited}}
        <button type="submit" class="btn btn-primary" {{bind-attr disabled="isInvalid"}}>{{buttonLabel}}</button>
        {{#if cancelRequested}}
          <button type="cancel" class="btn btn-warning" {{action 'cancel'}}>Click again to confirm cancel!</button>
        {{else}}
          <button type="cancel" class="btn btn-warning" {{action 'requestCancel'}}>{{cancelLabel}}</button>
        {{/if}}
      {{else}}
        <button class="btn btn-primary" disabled>Double-click any field to edit it</button>
      {{/if}}
    </div>
  </div>
</form>
{{please-wait loading=loading msg="Processing..." }}
{{#if errorMessage}}
  <div class="alert alert-danger">
    <p>
      <strong>Post failed ({{attempts}}):</strong> <code>{{errorMessage}}</code>
    </p>
  </div>
{{/if}}
{{#if successMessage}}
  <div class="alert alert-success text-center">
    <p><strong>{{successMessage}}</strong></p>
  </div>
{{/if}}
