<form id=id class="form-horizontal" {{action submit on='submit'}}>
  {{yield}}
  <div class="form-group">
    <div class="text-center">
      <button type="submit" class="btn btn-primary" {{bind-attr disabled="isInvalid"}}>{{buttonLabel}}</button>
    </div>
  </div>
</form>
{{please-wait loading=loading msg="Processing..." }}
{{#if errorMessage}}
  <div class="alert alert-danger">
    <p>
      <strong>Post failed ({{attempts}}):</strong> <code>{{errorMessage}}</code>
    </p>
  </div>
{{/if}}
{{#if successMessage}}
  <div class="alert alert-success text-center">
    <p><strong>{{successMessage}}</strong></p>
  </div>
{{/if}}
